<!-- ========== HEADER ========== -->
<header
  class="flex flex-wrap md:justify-start md:flex-nowrap z-50 w-full text-sm fixed"
  aria-label="Main Header"
  *transloco="let t; prefix: 'header'"
>
  <nav
    class="mt-2 relative max-w-[85rem] bg-main w-full border-4 rounded-[36px] mx-2 py-3 px-4 md:flex md:items-center md:justify-between md:py-0 md:px-6 lg:px-8 xl:mx-auto border-gray-700"
    aria-label="Global Navigation"
  >
    <div class="flex items-center justify-between">
      <a
        class="flex-none cursor-pointer font-fira-code text-xl font-semibold text-white"
        aria-label="Brand, Click to scroll to about section"
        (click)="scrollTo('about')"
      >
        Oussema<i class="pi pi-caret-up ml-2"></i
      ></a>
      <div class="md:hidden">
        <button
          type="button"
          class="hs-collapse-toggle w-8 h-8 flex justify-center items-center text-sm font-semibold rounded-full border disabled:opacity-50 disabled:pointer-events-none text-white border-gray-700 hover:bg-gray-700 focus:outline-none focus:ring-1 focus:ring-gray-600"
          data-hs-collapse="#navbar-collapse-with-animation"
          aria-controls="navbar-collapse-with-animation"
          aria-label="Toggle navigation"
        >
          <svg
            class="hs-collapse-open:hidden flex-shrink-0 w-4 h-4"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <line x1="3" x2="21" y1="6" y2="6" />
            <line x1="3" x2="21" y1="12" y2="12" />
            <line x1="3" x2="21" y1="18" y2="18" />
          </svg>
          <svg
            class="hs-collapse-open:block hidden flex-shrink-0 w-4 h-4"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M18 6 6 18" />
            <path d="m6 6 12 12" />
          </svg>
        </button>
      </div>
    </div>
    <div
      id="navbar-collapse-with-animation"
      class="hs-collapse hidden overflow-hidden transition-all duration-300 basis-full grow md:block"
      aria-label="Navigation Menu"
    >
      <div
        class="flex flex-col gap-y-4 gap-x-0 mt-5 md:flex-row md:items-center md:justify-end md:gap-y-0 md:gap-x-7 md:mt-0 md:ps-7"
      >
        <a
          class="font-semibold text-base cursor-pointer font-fira-code md:py-6 text-gray-400"
          (click)="scrollTo('about_me')"
          aria-label="About me, Click to scroll to about me section"
        >
          <div class="hover-border">
            <span class="text-blue-500"> 1.0</span> {{ t("aboutMe") }}
          </div>
        </a>
        <a
          class="font-semibold text-base cursor-pointer font-fira-code md:py-6 text-gray-400"
          (click)="scrollTo('experience')"
          aria-label="Experience, Click to scroll to experience section"
        >
          <div class="hover-border">
            <span class="text-blue-500"> 2.0</span> {{ t("experience") }}
          </div></a
        >
        <a
          class="font-semibold text-base cursor-pointer font-fira-code md:py-6 text-gray-400"
          (click)="scrollTo('projects')"
          aria-label="Projects, Click to scroll to projects section"
        >
          <div class="hover-border">
            <span class="text-blue-500"> 3.0</span> {{ t("projects") }}
          </div></a
        >
        <a
          class="font-semibold text-base cursor-pointer font-fira-code md:py-6 text-gray-400"
          (click)="scrollTo('contact')"
          aria-label="Contact, Click to scroll to contact section"
        >
          <div class="hover-border">
            <span class="text-blue-500"> 4.0</span> {{ t("contact") }}
          </div></a
        >
        <a
          href="https://drive.google.com/file/d/1Fi4HlhgtdtgwcHB01ksroVMUxQd6PXMF/view?usp=sharing"
          download
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Download Resume"
          class="font-semibold text-base font-fira-code p-2 border-2 border-blue-500 text-gray-400 s"
        >
          <div class="hover:-translate-y-1">
            <i class="pi pi-file-pdf text-blue-500 mr-1"></i>{{ t("resume") }}
          </div>
        </a>

        <!-- Language -->
        <select
          class="p-3 pe-5 block mr-1 border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
          [formControl]="langControl"
        >
          @for (lang of availableLangs; track $index){

          <option value="{{ lang }}" [selected]="lang === activeLang">
            {{ lang | uppercase }}
          </option>
          }
        </select>

        <!-- Dark mode -->
        @if(!isDarkMode){
        <button
          type="button"
          class="group flex items-center text-white hover:text-white-600 font-medium"
          (click)="toggleDarkMode()"
        >
          <svg
            class="flex-shrink-0 size-7"
            xmlns="http://www.w3.org/2000/svg"
            width="30"
            height="30"
            viewBox="0 0 30 30"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            data-darkreader-inline-stroke=""
            style="--darkreader-inline-stroke: currentColor"
          >
            <path d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z"></path>
          </svg>
        </button>
        } @if(isDarkMode){
        <button
          type="button"
          class="group flex items-center text-white hover:text-white-600 font-medium"
          (click)="toggleDarkMode()"
        >
          <svg
            class="flex-shrink-0 size-7"
            xmlns="http://www.w3.org/2000/svg"
            width="30"
            height="30"
            viewBox="0 0 30 30"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            data-darkreader-inline-stroke=""
            style="--darkreader-inline-stroke: currentColor"
          >
            <circle cx="12" cy="12" r="4"></circle>
            <path d="M12 2v2"></path>
            <path d="M12 20v2"></path>
            <path d="m4.93 4.93 1.41 1.41"></path>
            <path d="m17.66 17.66 1.41 1.41"></path>
            <path d="M2 12h2"></path>
            <path d="M20 12h2"></path>
            <path d="m6.34 17.66-1.41 1.41"></path>
            <path d="m19.07 4.93-1.41 1.41"></path>
          </svg>
        </button>
        }
      </div>
    </div>
  </nav>
</header>
<!-- ========== END HEADER ========== -->
