<!-- about me with Stats -->
<div
  class="max-w-[85rem] lg:mt-auto px-4 py-8 sm:px-6 lg:px-8 lg:py-14 mx-auto"
  *transloco="let t; read: 'home.aboutMe'"
>
  <div class="flex flex-col gap-16">
    <h1
      id="title"
      class="dark:text-white text-black font-fira-code text-center mb-10 text-2xl md:text-3xl lg:text-4xl font-bold bg-clip-text"
    >
      <span class="text-blue-500">1.0</span> {{ t("title") }}
    </h1>
    <!-- Grid -->
    <div
      id="grid"
      class="flex flex-col lg:flex-row lg:items-center lg:space-x-8"
    >
      <div class="text-center mt-10 mb-16 lg:mt-0 lg:mb-0 lg:flex-shrink-0">
        <picture>
          <source type="image/webp" srcset="../../../assets/oussema.webp" />
          <img
            class="rounded-3xl w-60 h-60 mx-auto lg:w-60 lg:h-60"
            ngSrc="../../../assets/oussema.png"
            alt=" Description"
            priority
          />
        </picture>
      </div>
      <!-- End Col -->

      <div>
        <!-- Blockquote -->
        <blockquote class="overflow-auto">
          <p
            class="text-lg bg-technology p-6 rounded-3xl font-normal lg:text-2xl lg:leading-normal text-gray-200"
          >
            {{ t("description") }}
          </p>
        </blockquote>
        <!-- End Blockquote -->
      </div>
      <!-- End Col -->
    </div>
    <!-- End Grid -->
    <!-- github api Section -->
    <div
      id="github"
      class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto"
    >
      <!-- Grid -->
      <div
        class="grid md:grid-cols-4 border shadow-sm rounded-xl overflow-hidden border-gray-700"
      >
        <!-- github api -->
        <div
          class="block p-4 md:p-5 relative before:absolute before:top-0 before:start-0 before:w-full before:h-px md:before:w-px md:before:h-full before:first:bg-transparent bg-slate-900 hover:bg-slate-800 before:bg-gray-700 focus:outline-none focus:ring-1 focus:ring-gray-600"
        >
          <div class="flex md:grid lg:flex gap-y-3 gap-x-5">
            <svg
              class="flex-shrink-0 w-5 h-5 text-gray-600"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2" />
              <circle cx="9" cy="7" r="4" />
              <path d="M22 21v-2a4 4 0 0 0-3-3.87" />
              <path d="M16 3.13a4 4 0 0 1 0 7.75" />
            </svg>

            <div class="grow">
              <p
                class="text-xs uppercase tracking-wide font-medium text-gray-200"
              >
                {{ t("totalGithubFollowers") }}
              </p>
              <h3 class="mt-1 text-xl sm:text-2xl font-semibold text-blue-500">
                {{ followers }}
              </h3>
            </div>
          </div>
        </div>
        <!-- End github api -->

        <!-- github api -->
        <div
          class="block p-4 md:p-5 relative before:absolute before:top-0 before:start-0 before:w-full before:h-px md:before:w-px md:before:h-full before:first:bg-transparent bg-slate-900 hover:bg-slate-800 before:bg-gray-700 focus:outline-none focus:ring-1 focus:ring-gray-600"
        >
          <div class="flex md:grid lg:flex gap-y-3 gap-x-5">
            <i
              width="24"
              height="24"
              class="devicon-github-original flex-shrink-0 w-5 h-5 text-gray-600"
            ></i>

            <div class="grow">
              <p
                class="text-xs uppercase tracking-wide font-medium text-gray-200"
              >
                {{ t("totalGithubRepos") }}
              </p>
              <h3 class="mt-1 text-xl sm:text-2xl font-semibold text-blue-500">
                {{ publicRepos }}
              </h3>
            </div>
          </div>
        </div>
        <!-- End github api -->

        <!-- AREAS OF GROWTH -->
        <div
          class="block p-4 md:p-5 relative before:absolute before:top-0 before:start-0 before:w-full before:h-px md:before:w-px md:before:h-full before:first:bg-transparent bg-slate-900 hover:bg-slate-800 before:bg-gray-700 focus:outline-none focus:ring-1 focus:ring-gray-600"
        >
          <div class="flex md:grid lg:flex gap-y-3 gap-x-5">
            <i
              class="pi pi-map flex-shrink-0 w-5 h-5 text-gray-600"
              width="24"
              height="24"
            >
            </i>

            <div class="grow">
              <p
                class="text-xs uppercase tracking-wide font-medium text-gray-200"
              >
                {{ t("areasForGrowth") }}
              </p>
              <h3 class="mt-1 text-xl sm:text-2xl font-semibold text-blue-500">
                ∞
              </h3>
            </div>
          </div>
        </div>
        <!-- End AREAS OF GROWTH -->
        <!-- gym prog -->
        <div
          class="block p-4 md:p-5 relative before:absolute before:top-0 before:start-0 before:w-full before:h-px md:before:w-px md:before:h-full before:first:bg-transparent bg-slate-900 hover:bg-slate-800 before:bg-gray-700 focus:outline-none focus:ring-1 focus:ring-gray-600"
        >
          <div class="flex md:grid lg:flex gap-y-3 gap-x-5">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="16"
              width="20"
              viewBox="0 0 640 512"
            >
              <path
                fill="#515761"
                d="M96 64c0-17.7 14.3-32 32-32h32c17.7 0 32 14.3 32 32V224v64V448c0 17.7-14.3 32-32 32H128c-17.7 0-32-14.3-32-32V384H64c-17.7 0-32-14.3-32-32V288c-17.7 0-32-14.3-32-32s14.3-32 32-32V160c0-17.7 14.3-32 32-32H96V64zm448 0v64h32c17.7 0 32 14.3 32 32v64c17.7 0 32 14.3 32 32s-14.3 32-32 32v64c0 17.7-14.3 32-32 32H544v64c0 17.7-14.3 32-32 32H480c-17.7 0-32-14.3-32-32V288 224 64c0-17.7 14.3-32 32-32h32c17.7 0 32 14.3 32 32zM416 224v64H224V224H416z"
              />
            </svg>

            <div class="grow">
              <p
                class="text-xs uppercase tracking-wide font-medium text-gray-200"
              >
                {{ t("howMuchIBench") }}
              </p>
              <h3 class="mt-1 text-xl sm:text-2xl font-semibold text-blue-500">
                70kg
              </h3>
            </div>
          </div>
        </div>
        <!-- End gym prog -->
      </div>
      <!-- End Grid -->
    </div>
  </div>
</div>
<!-- End about me with Stats -->
