<!-- Timeline -->
<div
  id="experience"
  class="flex justify-center sm:mt-5 lg:py-10 mt-20 md:mt-24 lg:mt-auto overflow-hidden"
  *transloco="let t; read: 'home.experience'"
>
  <!-- Timeline -->
  <div
    id="experience-title"
    class="w-full sm:mt-9 max-w-5xl mt-18 lg:mt-0 overflow-hidden"
  >
    <h1
      class="dark:text-white font-fira-code text-center mb-10 text-2xl sm:text-3xl lg:text-4xl font-bold bg-clip-text"
    >
      <span class="text-blue-500">2.0</span> {{ t("title") }}
    </h1>

    <!-- Item -->
    <div id="icon" class="text-gray-400 p-6 shadow-lg w-full overflow-hidden">
      @for (item of experience; track $index) {
      <!-- Experience entries -->
      <!-- Item -->
      <div
        class="flex flex-col sm:flex-row gap-x-3 p-2 relative group rounded-lg hover:bg-gray-100 hover:bg-white/10 w-full overflow-hidden"
      >
        <!-- Icon -->
        <div
          class="relative last:after:hidden after:absolute after:top-0 after:bottom-0 after:start-3.5 after:w-px after:-translate-x-[0.5px] group-hover:after:bg-gray-600"
        >
          <div class="relative z-10 w-7 h-7 flex justify-center items-center">
            <div
              class="w-2 h-2 rounded-full border-2 group-hover:border-gray-600 bg-gray-800 border-gray-600"
            ></div>
          </div>
        </div>
        <!-- End Icon -->

        <!-- Single entry -->
        <div
          class="flex flex-col sm:flex-row items-center gap-x-3 w-full overflow-hidden"
        >
          <!-- Right Content -->

          <div class="flex-grow pt-0.5 pb-8 w-full overflow-hidden">
            <!-- Left Content -->
            <div class="text-start">
              <span class="text-sm dark:text-gray-400 text-gray-500">
                {{ item.date }}

                @if(item.current){
                <span
                  class="inline-block text-xs sm:text-sm sm:px-1 border-2 border-technology rounded-full bg-technology text-green-500 shadow-md"
                >
                  {{ t("active") }}
                </span>
                }
              </span>
            </div>
            <!-- End Left Content -->

            <h3
              class="text-xl sm:text-2xl lg:text-3xl font-bold text-blue-500 dark:text-slate-300"
            >
              {{ item.title | transloco }}
            </h3>
            <p
              class="text-sm sm:text-base lg:text-lg text-blue-800 dark:text-blue-200 font-bold"
            >
              {{ item.company }}
            </p>
            @if(item.gotBulletPoints){
            <ul class="list-disc pl-5">
              @for ( item of item.description; track $index) {
              <li
                class="text-sm sm:text-base lg:text-lg text-slate-600 dark:text-slate-300"
              >
                {{ item | transloco }}
              </li>
              }
            </ul>
            }@else{
            <p
              class="text-sm sm:text-base lg:text-lg text-slate-600 dark:text-slate-300"
            >
              {{ item.description | transloco }}
            </p>
            } @if(item.skills && item.skills!.length > 0){

            <div
              class="mt-4 text-sm sm:text-base lg:text-lg flex flex-wrap items-center text-slate-500"
            >
              <div>{{ t("skills") }}:</div>
              <div class="flex flex-wrap ml-2 m">
                @for (skill of item.skills; track $index) {
                <span
                  class="dark:bg-technology text-sm hover:bg-blue-500 dark:hover:bg-slate-800 bg-blue-400 text-white dark:text-cyan-400 m-1 p-2 rounded-full md:mt-0 mt-2"
                >
                  {{ skill | uppercase }}
                </span>
                }
              </div>
            </div>
            }
          </div>
          <!-- End Right Content -->
        </div>
        <!-- End of single entry -->
      </div>
      <!-- End Item -->
      }
    </div>
  </div>
</div>
<!-- End Timeline -->
