<footer
  id="footer"
  class="w-full max-w-340 py-10 px-4 sm:px-6 lg:px-8 mx-auto border-t-2 dark:border-white"
  *transloco="let t; prefix: 'footer'"
>
  <!-- Grid -->
  <div class="text-center">
    <div>
      <a
        class="flex-none text-xl font-fira-code dark:text-white focus:outline-hidden focus:ring-1 focus:ring-gray-600"
        href="#"
        aria-label="Brand"
        >{{ t("bye") }}</a
      >
    </div>
    <!-- End Col -->

    <div class="mt-3">
      <p class="text-gray-500">
        {{ t("madeWith") }}
        <a
          class="font-semibold text-blue-500 hover:text-blue-400"
          href="https://angular.dev"
          target="_blank"
          rel="noopener noreferrer"
          >Angular</a
        >
        {{ t("and") }}
        <a
          class="font-semibold text-blue-500 hover:text-blue-400"
          href="https://preline.co/index.html"
          target="_blank"
          rel="noopener noreferrer"
          >Preline</a
        >
        Ui library
      </p>
      <p class="text-gray-500">
        © Oussema sahbeni. {{ date() }} {{ t("rightsReserved") }}
      </p>
    </div>

    <!-- Social Brands -->
    <div class="mt-3 space-x-2">
      <a
        class="inline-flex justify-center items-center w-10 h-10 text-center rounded-full focus:outline-hidden focus:ring-2 focus:ring-blue-600 focus:ring-offset-2 focus:ring-offset-white transition text-gray-500 hover:text-gray-200 hover:bg-gray-800"
        href="https://twitter.com/Spike_2002"
        title="Twitter"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="pi pi-twitter"></i>
      </a>
      <a
        class="inline-flex justify-center items-center w-10 h-10 text-center rounded-full focus:outline-hidden focus:ring-2 focus:ring-blue-600 focus:ring-offset-2 focus:ring-offset-white transition text-gray-500 hover:text-gray-200 hover:bg-gray-800"
        href="https://github.com/Oussemasahbeni"
        title="Github"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="pi pi-github"></i>
      </a>
      <a
        class="inline-flex justify-center items-center w-10 h-10 text-center rounded-full focus:outline-hidden focus:ring-2 focus:ring-blue-600 focus:ring-offset-2 focus:ring-offset-white transition text-gray-500 hover:text-gray-200 hover:bg-gray-800"
        title="Linkedin"
        href="https://www.linkedin.com/in/oussema-sahbeni/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="pi pi-linkedin"></i>
      </a>
    </div>
    <!-- End Social Brands -->
  </div>
  <!-- End Grid -->
</footer>
