@if (isVisible()) {
<button
  ngpButton
  class="fixed z-50 bottom-6 w-12 h-12 text-sm bg-white dark:bg-zinc-950 hover:bg-zinc-100 dark:hover:bg-zinc-900 text-zinc-950 dark:text-zinc-50 right-6 shadow-lg border border-zinc-200 dark:border-zinc-800 transition-all duration-300 ease-in-out hover:scale-110 hover:shadow-xl rounded-full flex items-center justify-center"
  (click)="scrollToTop()"
  title="Back to top"
  aria-label="Scroll back to top"
>
  <ng-icon name="radixArrowUp" class="w-8 h-8"></ng-icon>
</button>
}
