/* You can add global styles to this file, and also import other style files */

/* @import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap') */
@import "primeicons/primeicons.css";
@import "tailwindcss";
@import "../node_modules/preline/variants.css";
@import "aos/dist/aos.css";

@source '../node_modules/preline/dist/*.js';

@custom-variant dark (&:is(.dark *));

@theme {
  --color-main: #0a192f;
  --color-technology: #142b46;
  --color-letters: #204850;

  --font-Poppins: Poppins, sans-serif;
  --font-fira-code: Fira Code, monospace;

  --breakpoint-sm: 624px;
  --breakpoint-md: 768px;

  --animate-infinite-scroll: infinite-scroll 25s linear infinite;

  @keyframes infinite-scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

html {
  scroll-behavior: smooth;
}
