<div
  class="max-w-[85rem] h-screen text-left flex flex-col lg:flex-row justify-start mx-auto px-4 sm:px-6 lg:px-8 pt-24 pb-10"
  id="about"
>
  <div class="flex mt-44 w-full flex-col lg:flex-row">
    <!-- particles -->
    <div id="particles-js"></div>
    <!-- End particles -->

    <!-- Title -->
    <div class="lg:mt-5 max-w-2xl text-center mt-3 lg:text-left">
      <div class="text-white text-2xl">
        <h1>Hello there! my name is</h1>
      </div>
      <h1
        class="block font-semibold text-4xl md:text-5xl lg:text-6xl text-gray-200"
      >
        Oussema Sahbeni
      </h1>
      <h1
        class="bg-clip-text font-bold text-3xl md:text-5xl mt-4 bg-gradient-to-tl from-blue-600 to-violet-600 text-transparent typewriter"
      >
        Full-Stack Developer
      </h1>
      <div class="mt-5 max-w-3xl text-left">
        <p class="text-lg text-gray-400">
          Passionate about crafting innovative web experiences. Proficient in
          HTML, CSS, JavaScript, React,Angular, Java, and Node.js. Let's build
          something amazing! 🚀
        </p>
      </div>

      <div class="text-white font-fira-code mt-3">
        <p>Check out my socials</p>
      </div>

      <!-- Buttons -->
      <div class="flex gap-4">
        <div class="mt-8 gap-3 flex justify-left">
          <a
            class="inline-flex justify-center z-50 items-center gap-x-3 text-center border-2 text-white text-sm font-medium rounded-md focus:outline-none focus:ring-1 focus:ring-gray-600 p-4 focus:ring-offset-gray-800"
            href="https://github.com/Oussemasahbeni"
            rel="noopener noreferrer"
            target="_blank"
          >
            <i class="pi pi-github"></i> Github
          </a>
        </div>
        <div class="mt-8 gap-3 flex justify-left">
          <a
            class="inline-flex justify-center z-50 items-center gap-x-3 text-center border-2 text-white text-sm font-medium rounded-md focus:outline-none focus:ring-1 focus:ring-gray-600 p-4 focus:ring-offset-gray-800"
            href="https://www.linkedin.com/in/oussema-sahbeni/"
            rel="noopener noreferrer"
            target="_blank"
          >
            <i class="pi pi-linkedin"></i> Linkedin
          </a>
        </div>
      </div>
      <!-- End Buttons -->
      <!-- End Title -->
    </div>

    <div class="mt-10 lg:ml-auto sm:mt-10">
      <img
        class="max-w-full h-auto mx-auto"
        src="../../../assets/illus.png"
        alt="Image Description"
      />
    </div>
  </div>
  <div
    class="absolute bottom-11 left-0 right-0 hidden md:flex justify-center z-50"
  >
    <a (click)="scrollTo('about_me')" class="cursor-pointer"
      ><i
        class="pi pi-angle-double-down text-white text-xl lg:text-2xl bounce"
      ></i
    ></a>
  </div>
</div>
<!-- End Hero -->
>
