<main class="flex-col mx-auto justify-center">
  <app-about class="h-screen"></app-about>
  <app-about-me
    id="about_me"
    class="h-screen flex flex-col items-center"
  ></app-about-me>
  <app-experience class="h-screen"></app-experience>
  <app-tooling class="h-screen flex flex-col items-center"></app-tooling>
  <app-projects
    id="projects"
    class="h-screen flex flex-col items-center"
  ></app-projects>
  <app-contact
    id="contact"
    class="h-screen flex flex-col items-center"
  ></app-contact>
</main>
