<!-- ========== MAIN CONTENT ========== -->
<main
  id="content"
  role="main"
  class="h-screen max-w-3xl px-4 sm:px-6 lg:px-8 flex flex-col justify-center sm:items-center mx-auto w-full"
>
  <div class="text-center py-8 px-4 sm:px-6 lg:px-8">
    <h1
      id="getintouch"
      class="text-white font-fira-code text-center mb-10 text-2xl md:text-3xl lg:text-4xl font-bold bg-clip-text"
    >
      <span class="text-blue-500">4.0</span> Get in touch!
      <div
        class="absolute inset-0 w-full h-full bg-backgroundrgb [mask-image:radial-gradient(350px_200px_at_top,transparent_20%,white)]"
      ></div>
    </h1>
    <!-- Title -->
    <div id="text" class="mt-5 max-w-2xl text-center mx-auto">
      <h1
        class="block font-bold text-gray-800 text-4xl md:text-5xl lg:text-6xl dark:text-gray-200"
      >
        Let's Build
        <span
          class="bg-clip-text bg-gradient-to-tl from-blue-600 to-violet-600 text-transparent"
          >Together</span
        >
      </h1>
    </div>
    <!-- End Title -->

    <div id="text" class="mt-5 max-w-3xl text-center mx-auto">
      <p class="text-lg text-gray-600 dark:text-gray-400">
        I will be happy to receive your contact if you want to talk about new
        opportunities. Write me, and I will reply as soon as I see your message.
      </p>
    </div>

    <!-- Buttons -->
    <div id="text" class="mt-8 gap-3 flex justify-center">
      <a href="mailto:oussemasahbeni300@gmail.com">
        <button
          type="button"
          class="relative group p-2 ps-3 inline-flex items-center gap-x-2 text-sm font-mono rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:hover:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
        >
          $ oussemashabeni300&#64;gmail.com
          <span
            class="flex justify-center items-center bg-gray-200 rounded-md w-7 h-7 dark:bg-gray-700 dark:text-gray-400"
          >
            <svg
              class="flex-shrink-0 w-4 h-4 group-hover:rotate-6 transition"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <rect width="8" height="4" x="8" y="2" rx="1" ry="1" />
              <path
                d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2"
              />
            </svg>
          </span>
        </button>
      </a>
    </div>
    <div>
      <p class="text-white font-fira-code mt-4">
        Don't like ? Send me a
        <a
          class="text-blue-500"
          href="https://www.linkedin.com/in/oussema-sahbeni/"
          >Linkedin</a
        >
        message instead👋
      </p>
    </div>
    <!-- End Buttons -->
  </div>
</main>
<!-- ========== END MAIN CONTENT ========== -->
